main {
  color: #000;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sql-join {
  padding-bottom: 10px;
  width: 970px; 
}

.first-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.sql-joins-container {
  padding: 20px 35px;
  background-color: #b2c9ec;
  border-radius: 20px;
  width: 900px ;
}

.sql-join-info {
  font-size: 20px;
  padding: 0;
  margin-bottom: 20px;
}

.sql-join-info span{
  font-weight: 700;
}

.sql-join-img {
  width: 900px;
  padding: 0;
}

.img-sql-select-syntax {
  width: 100%;
}

.sql-join-list{
  list-style-type: disc;
  padding-top: 0;
  padding-left: 40px;
}
/**Select sytax**/
.result {
  width: 900px;
  padding:0;
}

.img-sql-subquery-example {
  height: 700px;
  width: 580px;
  padding: 0;
  margin-bottom: 40px;
}

.sql-inner-join-syntax {
  display: flex;
  justify-content: center;
}

/**Select-all**/

.img-sql-select-all {
  width: 100%;
  height: 120px;
}




/**SQL OR OPERATOR**/

.img-sql-or-operator {
  width: 100%;
  height: 100px;
}

.sql-inner-join-syntax {
  display: flex;
  justify-content: center;
}

/**SQL OR AND**/

.img-or-and {
  width: 980px;
  height: 300px
}

.sql-or-and {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/**Atleast**/

.second-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 30px;
}

.result1 {
  margin: 0;
  width: 900px;
  padding:0;
}

h4 {
  padding: 0;
  margin-bottom: 10px;
}

.sql-join-info img {
  width: 100%;
  padding-top: 10px;
}

.img-and-opearator {
  height: 200px;
  width: 100%;
}

/**UPDATE SYNTAX**/
.third-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.img-sql-update-table {
  height: 100px;
  width: 100%;
}

/**SQL DELETE**/

.img-sql-delete {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}

/**SQL LIKE OPERATOR**/
.img-sql-like{
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}
